button{color: aqua; text-align: right; margin:    497px; padding: 1px 34px; font-size:23px; line-height: 31px; box-shadow: -1 0px 100px gray; top: 50%; border: 0px solid #3d6681; border-radius: 100px; background: #58a linear-gradient(#77a0bb, #58a); text-shadow: 0 0px 0px #335166;font-size: 0xp; top: 50%; }
h1{
    color: gold;
    text-align: center;
}
Download{margin:410px; size:1px; line-height: 25px;}
